* {
	font-size:15px;
	font-family: raleway;
}

h3 {
	font-size: 25px;
	margin: 5px 0 10px 0;
}

input[type=text], input[type=number], textarea {
	padding: 4px 6px;
}
select {
	padding: 0px 6px;
}
input[type=text], input[type=number], textarea, select {
    border: 1px solid #ccc;
	width:calc(100% - 15px);
	outline:none;
	background: #fff;
	height: 27px;
}

textarea {
	resize:none;
}

#content {
	padding: 0 0 10px 0;
}

#submited, #submitedonce {
	text-align: center;
	width: 50%;
	padding: 20px;
	margin: 20px auto 20px auto;
	z-index:10;
	display: none;
}

#submited {
    text-align: justify;
}

#submited a {
	text-decoration: none;
}

#backToForm {
	margin: 20px auto 0 auto;
	width: 100px;
	padding: 7px;
	cursor: pointer;
	border-radius: 4px;
	word-wrap: break-word;
	text-align: center;
}
	#backToForm:hover {
	}

#error {
	background: rgba(235,90,90,.9);
	color: #fff;
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 250px;
	padding: 20px 0;
	letter-spacing: 1px;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -125px;
	display: none;
	z-index:10;
}

.header {
	font-size: 24px;
	margin: 10px 10px 5px 10px;
}

.description {	
	margin: 5px 10px 5px 15px;
}

.fields {
	padding:0 10px 10px 10px;
}

.row {
	margin:15px 0;
}

.label {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 5px 0;
	padding: 3px 0 0 0;
}

.label b {
	color: #c00;
}

.field {
	display: inline-block !important;
	position: relative;
}


.labelAddress {
	text-align: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	color: #888;
}

.labelAddress2 {
	text-align: left;
	width: calc(50% - 5px);
	margin: 0 0 5px 0;
	font-size: 13px;
	color: #888;
}

#submit {
	display: block;
	padding: 8px 12%;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	outline:none;
	border:none;
}

.info {	
	position: absolute;
	right: -1px;
	top: 1px;
	width: 13px;
	height: 13px;
	background-color: #ccc;
	opacity: .8;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	font-family: monospace;
	font-size: 11px;
	background-image: url("../images/info1.png");
	background-position: center;
	background-size: 9px;
	background-repeat: no-repeat;
}

.info_des {
	display:none;
	background: rgba(120,120,120,.7);
	padding: 6px 8px;
	position: absolute;
	right: 2px;
	top: 17px;
	color: #fff;
	z-index: 2;
	text-align: center;
	font-size:13px;
	margin: 0 0 0 -18px;
	border-radius: 6px;
}

.validation_error {
	display:none;
	background: rgba(210,120,120,.9);
	padding: 6px 8px;
	position: absolute;
	top: -5px;
	right: 11px;
	color: #fff;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	border-radius: 6px;
}

.v_error {
	display:none;
	position: absolute;
	right: 10px;
	top: -4px;
	width: 11px;
	height: 11px;
	background-image: url("../images/error.png");
	background-repeat: no-repeat;
	background-size: contain;	
}

.v_date, .v_time {
	/*min-width: 80px;*/
}

.v_dateDD, .v_dateMM, .v_dateYY {
	width: 40px !important;
	text-align: center;
}

.YYYY {
	width: 93px !important;
	text-align: center;
}

.v_name {
	width:calc(50% - 9px) !important;
}

.time_select {
	width: calc(50% - 14px) !important;
	float: left;
	padding: 3px 0;
	margin: 0 0 0 10px;
}

.address_fields {
	width:calc(100% - 7px) !important;
	margin: 0 0 6px 0;
}
.address_fields_ {
	width:calc(50% - 6px) !important;
	float:left;
	margin: 0 4px 6px 0;
}

.address_fields::-webkit-input-placeholder, .address_fields_::-webkit-input-placeholder {
	/*font-size:12px;*/
}

.fieldValidationError {
	border-color: #E68977 !important;
	background-color: #E6B4AA !important;
	color: #fff !important;
}

.time b {
	float:left;
	margin: 5px 4px 0 0;
}

.captcha {
    text-align: right;
    margin-right: 19px;
}

.captcha input {
	width: 50px;
}

.btnUpload {
	position: relative;
	overflow: hidden;
	display: inline-block;
	color: #000;
	background-color: #ddd;
	padding: 6px 8px;
	cursor: pointer;
}

.v_upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	cursor: pointer;
}

.uploadError {
	display: none;
	background: rgba(210,120,120,.9);
	padding: 6px 8px;
	position: absolute;
	top: -5px;
	right: 11px;
	color: #fff;
	z-index: 3;
	text-align: center;
	font-size: 13px;
	border-radius: 6px;
	max-width: 250px;
}

.attachedFiles {
	padding: 5px 0 0 5px;
}

.attachedFiles > div {
	padding: 0 0 5px 0;
	word-break: break-word;
	opacity: .6;
}

.removeFile {
	cursor: pointer;
	display: inline-block;
	background-color: #B90000;
	height: 2px;
	width: 10px;
	padding: 0;
	margin: 0 0 3px 7px;
}

.loader  {
	display: inline-block;
	margin: 0px 0 0px 8px;
	vertical-align: top;
	padding: 3px 0 0 0;
}

.loader .ball-clip-rotate > div {
	width: 15px;
	height: 15px;
	border-width: 2px;
}

.loader_front  .ball-clip-rotate > div {
	width: 64px;
	height: 64px;
	border-width: 4px;
}

.ball-clip-rotate > div {
	background-color: #fff;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	border: 2px solid #444;
	border-bottom-color: transparent;
	background: transparent !important;
	display: inline-block;
	-webkit-animation: rotate 0.75s 0s linear infinite;
	animation: rotate 0.75s 0s linear infinite; }

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1); }

	50% {
		-webkit-transform: rotate(180deg) scale(0.6);
		transform: rotate(180deg) scale(0.6); }

	100% {
		-webkit-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1); } }


@keyframes spin-rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg); }

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
}

.loader_back {
	position: fixed;
	width: 100%;
	height: 100%;
	height: calc(100% + 10px);
	top: -10px;
	z-index: 99;
	opacity:.7;
}

.loader_front {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -32px 0 0 -32px;
}
